<!DOCTYPE html>
<html>
<head>
    <title>Multi-channel Support</title>
    <link rel="icon" type="image/png" href="../static/img/icon.jpeg">
</head>
<body>
    <h1>Choose RGB Channels</h1>
    <form method="POST" action="./process_channels">
        <input type="hidden" name="filename" value="{{ filename }}">
        {% for channel in channels %}
            <p>{{ channel }}</p>
            <label>
                <input type="radio" name="channel_{{ loop.index0 }}" value="0"> Red
            </label>
            <label>
                <input type="radio" name="channel_{{ loop.index0 }}" value="1"> Green
            </label>
            <label>
                <input type="radio" name="channel_{{ loop.index0 }}" value="2"> Blue
            </label>
            <br>
        {% endfor %}
        <button type="submit">View Image</button>
    </form>
</body>
</html>
