<!DOCTYPE html>
<html>
<head>
    <title>Multi-channel Support</title>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='img/icon.jpeg') }}">
    <style>
   	 body, html {
            margin: 0;
            padding: 0;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        #openseadragon-viewer {
            width: 100%;
            height: 750px;
        }
    </style>
    <script src="{{ url_for('static', filename='openseadragon/openseadragon.min.js') }}"></script>
</head>
<body>
    <div id="openseadragon-viewer"></div>
    <script type="text/javascript">
        var dziPath = "{{ dzi_path }}";
        const viewer = OpenSeadragon({
            id: "openseadragon-viewer",
            prefixUrl: "{{ url_for('static', filename='openseadragon/images/') }}",
            tileSources:"../static/"+dziPath,
            preserveViewport: true,
            visibilityRatio: 1,
            defaultZoomLevel: 0,
            maxZoomPixelRatio: 1
        });
    </script>
</body>
</html>
